html, body {
    overflow: hidden;
}

body {
    margin: 0%;
}

#editor {
    /* margin-top: 1em; */
    position: fixed;
    inset: 0;
    background: none;
}

.ace-tm .ace_gutter {
    background: none;
}


.ace-tm .ace_print-margin {
    width: 0px; 
    background: none;
}

.ace_text-layer span {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
}

.ace_text-layer span span{
    background: none !important;
}

.ace_keyword {
    color: #ffbbff !important;
}

.ace_operator {
    color: azure !important;
} 

.ace_identifier {
    color: azure !important;
}

.ace_function {
    color: #bbffff !important;
}

.ace_paren {
    color: azure !important;
}

.ace_constant {
    color: #bbffff !important;
}

.ace_comment {
    color: #ffffbb !important;
}

.ace_invisible {
    color: transparent !important;
}

.ace_active-line {
    background: none !important;
}
