html, body {
    overflow: hidden;
}

body {
    margin: 0%;
}

#editor {
    position: fixed;
    inset: 0;
    background: none;
}

.ace-tm .ace_gutter {
    background: none;
}

.ace-tm .ace_print-margin {
    width: 0px; 
    background: none;
}

.ace_keyword {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
    color: #ffbbff !important;
}

.ace_invisible_space {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
}

.ace_operator {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
    color: azure !important;
} 

.ace_identifier {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
    color: azure !important;
}

.ace_function {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
    color: azure !important;
}

.ace_paren {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
    color: azure !important;
}

.ace_constant {
    background: rgba(0.0, 0.0, 0.0, 0.3) !important;
    color: #bbffff !important;
}

.ace_invisible {
    color: transparent !important;
}

.ace_active-line {
    background: none !important;
}
